/******************************
* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss
* Стили страницы
******************************/
@import "../fragments/variables";
@import "../fragments/components_mixin";
@import "../fragments/media_mixin";
@import "../fragments/fonts_mixin";

/* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss */

/* Стили страницы */
header#header.header {
    @include header-gradient;
}

.page-42 {
    &.platforms {
        margin-top: 159px;
        padding-bottom: 100px;
        @include max_992 {
            padding-bottom: 32px;
            margin-top: 107px;
        }

        .platforms-swiper-thumbs {
            opacity: 0;
            transition: opacity 0.4s ease;
            padding: 10px 40px;
            @include max_1200 {
                padding: 10px 28px;
            }
            @include max_992 {
                padding: 10px 10px;
            }

            .swiper-wrapper {
                margin-bottom: 60px;
                @include max_992 {
                    margin-bottom: 32px;
                }
            }

            .item {
                display: flex;
                cursor: pointer;
                align-items: center;
                justify-content: center;
                border-radius: 18px;
                background: #fff;
                position: relative;
                height: auto;
                padding: 22px;

                &.swiper-slide-thumb-active {
                    &::after {
                        background: $st-gradient-main;
                    }

                    img {
                        &.active {
                            display: block;
                        }

                        &.default {
                            display: none;
                        }
                    }
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: -3px;
                    left: -3px;
                    right: -3px;
                    bottom: -3px;
                    background: linear-gradient(
                        180deg,
                        rgba(18.7, 7.7, 57.21, 1),
                        rgba(40, 34, 81, 1) 36%,
                        rgba(121, 57, 113, 1) 76%,
                        rgba(204, 120, 151, 1) 100%
                    );
                    border-radius: 18px;
                    z-index: -1;
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: #fff;
                    border-radius: 18px;
                    z-index: -1;
                    transition: $transition-default;
                }

                img {
                    max-width: 75%;
                    transition: $transition-default;

                    &.active {
                        display: none;
                    }
                }
            }

            .navigation {
                display: none;
                align-items: center;
                justify-content: center;
                gap: 30px;
                margin-bottom: 40px;
                @include max_1200 {
                    display: flex;
                }

                .swiper-btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 30px;
                    height: 30px;
                    border-radius: 100%;
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        top: -2px;
                        left: -2px;
                        right: -2px;
                        bottom: -2px;
                        background: linear-gradient(
                            180deg,
                            rgba(18.7, 7.7, 57.21, 1),
                            rgba(40, 34, 81, 1) 36%,
                            rgba(121, 57, 113, 1) 76%,
                            rgba(204, 120, 151, 1) 100%
                        );
                        border-radius: 20px;
                        z-index: -1;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background: #fff;
                        border-radius: 18px;
                        z-index: -1;
                    }
                }

                .swiper-pagination {
                    position: static;
                    display: flex;
                    align-items: center;
                    gap: 7px;
                    width: max-content;

                    .swiper-pagination-bullet {
                        width: 5px;
                        height: 5px;
                        opacity: 1;
                        position: relative;
                        background: transparent;
                        margin: 0;

                        &::before {
                            content: "";
                            position: absolute;
                            top: -1px;
                            left: -1px;
                            right: -1px;
                            bottom: -1px;
                            background: linear-gradient(
                                180deg,
                                rgba(18.7, 7.7, 57.21, 1),
                                rgba(40, 34, 81, 1) 36%,
                                rgba(121, 57, 113, 1) 76%,
                                rgba(204, 120, 151, 1) 100%
                            );
                            border-radius: 20px;
                            z-index: -1;
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background: #fff;
                            border-radius: 100%;
                            z-index: -1;
                        }

                        &-active {
                            background: $st-gradient-main;
                        }
                    }
                }
            }
        }

        .platforms-swiper-main {
            opacity: 0;
            transition: opacity 0.4s ease;
            max-width: 1223px;
            margin: 0 auto;
            width: 100%;

            img {
                max-width: 300px;
                width: 100%;
            }
            @include max_1400 {
                max-width: 1140px;
            }
            @include max_1200 {
                max-width: 658px;
            }
            @include max_992 {
                max-width: 612px;
            }
            @include max_768 {
                max-width: 540px;
            }
            @include max_576 {
                max-width: 100%;
                padding: 0 15px;
            }
        }

        .item-desc {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .desc-wrapper {
                max-width: 725px;
                @include max_1200 {
                    max-width: 100%;
                }
            }

            > img {
                @include max_1200 {
                    display: none;
                }
            }

            .title {
                @include gradient-text;
                font-size: 96px;
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom: 30px;
                @include max_1400 {
                    font-size: 86px;
                }
                @include max_1200 {
                    font-size: 48px;
                    margin-bottom: 43px;
                }
                @include max_992 {
                    font-size: 54px;
                    margin-bottom: 24px;
                }
                @include max_576 {
                    font-size: 38px;
                }
            }

            .desc {
                margin-bottom: 20px;
                @include max_992 {
                    margin-bottom: 24px;
                }
            }

            .link {
                display: block;
                font-weight: 700;
                width: max-content;
                margin-bottom: 67px;
                @include max_1200 {
                    margin-bottom: 60px;
                }
                @include max_992 {
                    margin-bottom: 12px;
                    text-decoration: underline;
                    margin-left: auto;
                }

                svg {
                    @include max_992 {
                        display: none;
                    }
                }
            }

            .btn {
                font-weight: 700;
                font-size: 21px;
                padding: 17px 63px;
                display: block;
                width: max-content;
                @include max_992 {
                    font-size: 20px;
                    padding: 13px 37px;
                    margin-left: auto;
                }
            }
        }
    }
}
