/******************************
* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss
* Стили страницы
******************************/
@import "../fragments/variables";
@import "../fragments/components_mixin";
@import "../fragments/media_mixin";
@import "../fragments/fonts_mixin";

/* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss */
@include project-stages;
@include have-a-questions;
@include popupBorderForm;
/* Стили страницы */
.page-7 {
    &.banner {
        padding: 114px 0 54px;

        position: relative;
        @include max_1200 {
            padding: 106px 0 20px;
        }

        background: linear-gradient(
            134.15deg,
            rgba(18.7, 7.7, 57.21, 1),
            rgba(40, 34, 81, 1) 36%,
            rgba(121, 57, 113, 1) 76%,
            rgba(204, 120, 151, 1) 100%
        );

        .container {
            max-width: 1253px;
            position: relative;
            @include max_1400 {
                max-width: 1050px;
            }
            @include max_1200 {
                max-width: 840px;
            }
            @include max_992 {
                max-width: 670px;
            }
            @include max_768 {
                max-width: 540px;
            }
            @include max_576 {
                max-width: 100%;
                padding: 0 15px;
            }
        }

        .offer {
            position: relative;
            z-index: 5;
            padding-top: 222px;
            margin-bottom: 184px;
            padding-left: 66px;
            @include max_1200 {
                padding-top: 83px;
                padding-left: 54px;
                margin-bottom: 123px;
            }
            @include max_992 {
                padding-left: 40px;
            }
            @include max_576 {
                padding-left: 25px;
            }

            .title {
                padding: 19px 28px;
                border: 5px solid #fff;
                border-radius: 24px;
                margin-bottom: 43px;
                max-width: max-content;
                width: 100%;
                @include max_1200 {
                    padding: 15px 50px;
                    margin-bottom: 46px;
                }
                @include max_768 {
                    padding: 15px 28px;
                }
                @include max_576 {
                    padding: 10px 30px;
                    border: 3px solid #fff;
                    margin-bottom: 30px;
                    width: auto;
                }

                h1 {
                    text-shadow: 4.57px 3.55px 0.1015px rgba(0, 0, 0, 0.25);
                    color: #fff;
                }
            }

            .desc {
                max-width: 504px;
                margin-bottom: 77px;
                @include max_1200 {
                    margin-bottom: 63px;
                }
                @include max_992 {
                    margin-bottom: 70px;
                }
                @include max_576 {
                    max-width: 90%;
                }
            }
        }

        .banner-image {
            position: absolute;
            right: 0;
            top: 131px;
            @include max_1400 {
                right: -240px;
                top: 191px;
            }
            @include max_1200 {
                right: 0;
                top: auto;
                bottom: 0;
            }
            @include max_definite_width(400) {
                right: -40px !important;
            }
        }

        .bottom-text {
            text-align: center;
            @include max_576 {
                font-size: 14px;
                position: relative;
                z-index: 2;
            }
        }

        .coordinates {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 680px;
            z-index: 2;
            max-width: 1184px;
            @include max_1200 {
                height: 458px;
            }
            @include max_992 {
                max-width: 95%;
            }
            @include max_576 {
                left: 20px;
                max-width: 90%;
                height: 90%;
            }

            .coordinate-axis {
                &.line-right {
                    .line {
                        display: none;
                        width: 0;
                        height: 2px;

                        &:before {
                            right: 0;
                            top: 0;
                            transform: rotate(55deg) translate(-3px, 2px);
                        }

                        &:after {
                            bottom: 0;
                            right: 0;
                            transform: rotate(-55deg) translate(-3px, -2px);
                        }
                    }

                    .label {
                        position: absolute;
                        bottom: -40px;
                        right: 0;
                        font-size: 24px;
                        color: #fff;
                    }
                }

                &.line-top {
                    .line {
                        height: 0;
                        width: 2px;
                        display: none;

                        &:before {
                            top: 0;
                            transform: rotate(-34deg) translateX(3px);
                        }

                        &:after {
                            top: 0;
                            transform: rotate(34deg) translateX(-3px);
                        }
                    }

                    .label {
                        position: absolute;
                        left: -30px;
                        top: 0;
                        @include max_768 {
                            left: 30px;
                        }
                    }
                }

                .line {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background: #fff;
                    display: block;

                    &:before,
                    &:after {
                        position: absolute;
                        display: block;
                        content: "";
                        width: 2px;
                        height: 10px;
                        background: #fff;
                    }
                }
            }
        }
    }

    &.services {
        background: #fff;
        padding: 235px 0 211px;
        position: relative;
        @include max_1200 {
            padding: 173px 0 145px;
        }
        @include max_992 {
            padding: 173px 0 190px;
        }
        @include max_768 {
            padding: 150px 0 170px;
        }
        @include max_576 {
            padding: 70px 0 100px;
        }

        .list {
            margin-left: 35%;
            max-width: 679px;
            min-height: 650px;
            @include max_1400 {
                min-height: 610px;
            }
            @include max_1200 {
                max-width: 448px;
                min-height: 410px;
            }
            @include max_768 {
                margin-left: 28%;
                max-width: 338px;
                min-height: 440px;
            }
            @include max_576 {
                padding: 0 15px 0 0;
                max-width: 100%;
                min-height: 500px;
            }

            .item {
                display: grid;
                grid-template-rows: auto 0fr;
                transition: grid-template-rows 0.5s;

                &:not(:last-child) {
                    margin-bottom: 68px;
                    @include max_1200 {
                        margin-bottom: 30px;
                    }
                }

                &:not(.active) {
                    cursor: pointer;
                }

                &.active {
                    grid-template-rows: auto 1fr;

                    &:not(:last-child) {
                        margin-bottom: 60px;
                    }

                    .title {
                        opacity: 1;
                        font-size: 40px;
                        @include max_1200 {
                            font-size: 20px;
                        }
                    }

                    .content {
                        opacity: 1;
                        visibility: visible;
                    }

                    .desc {
                        padding: 37px 0 63px;
                        @include max_1200 {
                            padding: 16px 0 32px;
                        }
                    }

                    .btn {
                        opacity: 1;
                    }
                }

                .title {
                    margin-bottom: 0;
                    opacity: 0.4;
                    font-size: 24px;
                    text-transform: uppercase;
                    transition:
                        opacity 0.5s ease,
                        font-size 0.5s ease;
                    grid-row: 1;
                    @include max_1200 {
                        font-size: 20px;
                    }
                }

                .content {
                    grid-row: 2;
                    opacity: 0;
                    visibility: hidden;
                    transition:
                        opacity 0.5s ease 0.1s,
                        visibility 0.5s ease 0.1s;
                    overflow: hidden;
                }

                .desc {
                    transition: padding 0.5s ease;
                    padding: 0;
                }

                .btn {
                    transition: opacity 0.5s ease;
                    opacity: 0;
                    @include max_1200 {
                        padding: 8px 26px;
                    }
                }
            }
        }

        &.is-measuring {
            .list {
                .item,
                .title,
                .content,
                .desc,
                .btn {
                    transition: none;
                }
            }
        }

        .service-knob {
            position: absolute;
            left: -197px;
            padding: 25px;
            @include max_1200 {
                padding: 0;
                left: -202px;
                top: 50%;
                transform: translateY(-50%);
            }
            @include max_992 {
                left: -149px;
            }
            @include max_576 {
                left: -160px;
                max-width: 250px;
            }

            img {
                pointer-events: none;
                user-drag: none;
                -webkit-user-drag: none;
            }

            .knob {
                transition: $transition-default;
                position: relative;
                z-index: 2;
                pointer-events: auto;
                cursor: grab;
                touch-action: none;

                &.step {
                    &_1 {
                        transform: rotate(-90deg);
                        @include max_1200 {
                            transform: rotate(-60deg);
                        }
                    }

                    &_2 {
                        transform: rotate(-45deg);
                        @include max_1200 {
                            transform: rotate(-35deg);
                        }
                    }

                    &_3 {
                        transform: rotate(0deg);
                        @include max_1200 {
                            transform: rotate(0deg);
                        }
                    }

                    &_4 {
                        transform: rotate(45deg);
                        @include max_1200 {
                            transform: rotate(35deg);
                        }
                    }

                    &_5 {
                        transform: rotate(90deg);
                        @include max_1200 {
                            transform: rotate(60deg);
                        }
                    }
                }
            }

            .knob.is-dragging {
                cursor: grabbing;
            }

            .line {
                position: absolute;
                top: -10px;
                right: 0;
                @include max_1200 {
                    display: none;
                }
            }
        }
    }

    &.platforms {
        position: relative;
        padding-bottom: 195px;
        z-index: 5;
        background: linear-gradient(
            180deg,
            rgba(18.7, 7.7, 57.21, 1),
            rgba(40, 34, 81, 1) 36%,
            rgba(121, 57, 113, 1) 76%,
            rgba(204, 120, 151, 1) 100%
        );
        @include max_1200 {
            padding-bottom: 120px;
        }

        .container {
            max-width: 1276px;
            @include max_1400 {
                max-width: 960px;
            }
            @include max_1200 {
                max-width: 870px;
            }
            @include max_992 {
                max-width: 558px;
            }
            @include max_768 {
                max-width: 540px;
            }
            @include max_576 {
                max-width: 100%;
                padding: 0 15px;
            }
        }

        &:before {
            content: "";
            width: 100%;
            height: 140px;
            position: absolute;
            top: -137px;
            right: 0;
            min-width: 1920px;
            background: rgba(18.7, 7.7, 57.21, 1);
            z-index: -1;
            -webkit-mask-image: url('data:image/svg+xml;utf8,<svg width="1423" height="1550" viewBox="0 0 1423 1550" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M726.521 0C709.505 0.000200104 694.813 11.914 691.298 28.5625L682.218 71.5625C679.542 84.2332 670.118 102.279 657.168 102.279H-29C-29.5522 102.279 -30 102.727 -30 103.279V1520C-30 1536.57 -16.5685 1550 -1.08406e-06 1550H1482C1498.57 1550 1512 1536.57 1512 1520V103.279C1512 102.727 1511.55 102.279 1511 102.279H1463.31C1451.03 102.279 1442.24 85.3565 1440.28 73.2412L1433.31 30.2412C1430.48 12.8095 1415.43 0 1397.77 0H726.521Z" fill="url(%23paint0_linear_781_87636)"/><defs><linearGradient id="paint0_linear_781_87636" x1="741" y1="0" x2="741" y2="1550" gradientUnits="userSpaceOnUse"><stop stop-color="%23130839"/><stop offset="0.360577" stop-color="%23282251"/><stop offset="0.764423" stop-color="%23793971"/><stop offset="1" stop-color="%23CC7897"/></linearGradient></defs></svg>');
            mask-image: url('data:image/svg+xml;utf8,<svg width="1423" height="1550" viewBox="0 0 1423 1550" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M726.521 0C709.505 0.000200104 694.813 11.914 691.298 28.5625L682.218 71.5625C679.542 84.2332 670.118 102.279 657.168 102.279H-29C-29.5522 102.279 -30 102.727 -30 103.279V1520C-30 1536.57 -16.5685 1550 -1.08406e-06 1550H1482C1498.57 1550 1512 1536.57 1512 1520V103.279C1512 102.727 1511.55 102.279 1511 102.279H1463.31C1451.03 102.279 1442.24 85.3565 1440.28 73.2412L1433.31 30.2412C1430.48 12.8095 1415.43 0 1397.77 0H726.521Z" fill="url(%23paint0_linear_781_87636)"/><defs><linearGradient id="paint0_linear_781_87636" x1="741" y1="0" x2="741" y2="1550" gradientUnits="userSpaceOnUse"><stop stop-color="%23130839"/><stop offset="0.360577" stop-color="%23282251"/><stop offset="0.764423" stop-color="%23793971"/><stop offset="1" stop-color="%23CC7897"/></linearGradient></defs></svg>');
            -webkit-mask-size: cover;
            mask-size: cover;
            -webkit-mask-position: right top;
            mask-position: right top;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            @include max_1400 {
                min-width: 1400px;
            }
            @include max_1200 {
                -webkit-mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 996 560" xmlns="http://www.w3.org/2000/svg"><path d="M454.312 0C445.688 6.22609e-05 438.232 6.01231 436.403 14.4395L427.214 56.7891C426.09 61.9692 422.35 67.7227 417.05 67.7227H0.508789C0.227739 67.7227 0.000131636 67.9504 0 68.2314V544.452C0 552.886 6.83705 559.723 15.271 559.723H980.729C989.163 559.723 996 552.886 996 544.452V68.2314C996 67.9506 995.772 67.7229 995.491 67.7227H974.32C969.443 67.7227 966.018 62.4753 965.217 57.6641L958.163 15.3145C956.691 6.47743 949.046 0 940.087 0H454.312Z"/></svg>');
                mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 996 560" xmlns="http://www.w3.org/2000/svg"><path d="M454.312 0C445.688 6.22609e-05 438.232 6.01231 436.403 14.4395L427.214 56.7891C426.09 61.9692 422.35 67.7227 417.05 67.7227H0.508789C0.227739 67.7227 0.000131636 67.9504 0 68.2314V544.452C0 552.886 6.83705 559.723 15.271 559.723H980.729C989.163 559.723 996 552.886 996 544.452V68.2314C996 67.9506 995.772 67.7229 995.491 67.7227H974.32C969.443 67.7227 966.018 62.4753 965.217 57.6641L958.163 15.3145C956.691 6.47743 949.046 0 940.087 0H454.312Z"/></svg>');
                -webkit-mask-size: 100%;
                mask-size: 100%;
                top: -80px;
                height: 80px;
                min-width: 1200px;
            }
            @include max_992 {
                -webkit-mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 772 1899" xmlns="http://www.w3.org/2000/svg"><path d="M355.81 0C346.861 9.31921e-05 339.221 6.46379 337.738 15.2891L330.624 57.6387C329.814 62.4615 326.378 67.7246 321.488 67.7246H0.508789C0.227766 67.7247 0 67.9523 0 68.2334V1883.73C0 1892.16 6.83705 1899 15.271 1899H755.764C764.198 1899 771.035 1892.16 771.035 1883.73V68.2334C771.035 67.9523 770.807 67.7247 770.526 67.7246H755.702C751.144 67.7246 747.953 62.8516 747.37 58.3311L741.91 15.9814C740.732 6.8425 732.95 2.84817e-05 723.735 0H355.81Z"/></svg>');
                mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 772 1899" xmlns="http://www.w3.org/2000/svg"><path d="M355.81 0C346.861 9.31921e-05 339.221 6.46379 337.738 15.2891L330.624 57.6387C329.814 62.4615 326.378 67.7246 321.488 67.7246H0.508789C0.227766 67.7247 0 67.9523 0 68.2334V1883.73C0 1892.16 6.83705 1899 15.271 1899H755.764C764.198 1899 771.035 1892.16 771.035 1883.73V68.2334C771.035 67.9523 770.807 67.7247 770.526 67.7246H755.702C751.144 67.7246 747.953 62.8516 747.37 58.3311L741.91 15.9814C740.732 6.8425 732.95 2.84817e-05 723.735 0H355.81Z"/></svg>');
                min-width: 992px;
            }
            @include max_768 {
                min-width: 768px;
            }
            @include max_576 {
                min-width: 576px;
                -webkit-mask-size: cover;
                mask-size: cover;
            }
        }

        .section-title {
            position: absolute;
            right: 14%;
            top: -90px;
            @include max_1400 {
                right: 160px;
            }
            @include max_1200 {
                top: -53px;
                right: 220px;
            }
            @include max_992 {
                right: 130px;
                top: -60px;
                font-size: 54px;
            }
            @include max_768 {
                font-size: 40px;
                right: 107px;
            }
            @include max_576 {
                font-size: 27px;
                top: -63px;
                right: 90px;
            }
        }

        .items {
            gap: 63px;
            padding-top: 109px;
            margin-bottom: 95px;
            @include max_1200 {
                gap: 45px;
                margin-bottom: 108px;
                padding-top: 164px;
            }
            @include max_992 {
                gap: 28px;
                padding-top: 70px;
                margin-bottom: 66px;
            }

            .item {
                padding: 38px;
                border: 3px solid #fff;
                border-radius: 24px;
                transition: $transition-default;
                @include max_1200 {
                    padding: 27px;
                }
                @include max_992 {
                    padding: 38px;
                }
                @include max_768 {
                    padding: 27px;
                }

                &:hover {
                    background: #fff;

                    .desc {
                        background: linear-gradient(
                            180deg,
                            rgba(19, 8, 57, 1) 0%,
                            rgba(40, 34, 81, 1) 36%,
                            rgba(121, 57, 113, 1) 76%,
                            rgba(204, 120, 151, 1) 100%
                        );
                        -webkit-background-clip: text;
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                        color: transparent;
                    }

                    .btn {
                        color: #fff;
                        background: linear-gradient(
                            180deg,
                            rgba(18.7, 7.7, 57.21, 1),
                            rgba(40, 34, 81, 1) 52%,
                            rgba(121, 57, 113, 1) 95%
                        );
                    }

                    img {
                        &.hover {
                            display: block;
                        }

                        &.default {
                            display: none;
                        }
                    }
                }

                svg,
                img {
                    display: block;
                    margin: 0 auto 26px;
                    @include max_1200 {
                        margin-bottom: 18px;
                        max-height: 58px;
                    }
                    @include max_992 {
                        max-height: 81px;
                        margin-bottom: 26px;
                    }
                    @include max_768 {
                        max-height: 60px;
                        margin-bottom: 18px;
                    }

                    &.hover {
                        display: none;
                    }
                }

                .desc {
                    transition: $transition-default;
                    max-width: 294px;
                    text-align: center;
                    color: #fff;
                    margin: 0 auto 45px;
                    @include max_1200 {
                        margin-bottom: 32px;
                    }
                    @include max_992 {
                        margin-bottom: 45px;
                    }
                    @include max_768 {
                        margin-bottom: 32px;
                    }
                }

                .btn {
                    background: transparent;
                    border: 1px solid #fff;
                    min-width: 125px;
                    color: #fff;
                }
            }
        }

        .swiper-content {
            .line {
                display: block;
                margin: 0 auto 17px;
            }

            .swiper-wrapper {
                margin-bottom: 63px;
                @include max_992 {
                    margin-bottom: 37px;
                }

                .swiper-slide {
                    text-align: center;
                    display: flex;
                    height: auto;
                    flex-direction: column;
                    justify-content: flex-end;
                    min-height: 160px;
                    @include max_1200 {
                        justify-content: center;
                    }

                    .title {
                        transition: all 1s ease;
                        font-size: 30px;
                        color: #fff;
                        opacity: 0.5;
                        line-height: $st-base-font-line-height;
                        @include max_1200 {
                            font-size: 20px;
                        }
                    }

                    .desc {
                        font-size: 20px;
                        height: 0;
                        transition: all 1s ease;
                        opacity: 0;
                        max-width: 244px;
                        margin: 0 auto;
                        @include max_1200 {
                            font-size: 16px;
                        }
                    }

                    &-active {
                        color: #fff;

                        .title {
                            opacity: 1;
                            font-size: 40px;
                            @include max_1200 {
                                font-size: 24px;
                            }
                        }

                        .desc {
                            height: 100%;
                            margin: 25px auto 0;
                            opacity: 1;
                        }
                    }
                }
            }

            .navigation {
                display: flex;
                align-items: center;
                gap: 44px;
                justify-content: center;

                .swiper-btn {
                    width: 43px;
                    height: 43px;
                    border: 3px solid #fff;
                    border-radius: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .controls-btn {
                    width: 43px;
                    height: 43px;
                    border-radius: 100%;
                    border: 3px solid #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;

                    .start {
                        display: block;
                        margin-left: 3px;
                    }

                    .pause {
                        display: none;
                    }

                    &.play {
                        .pause {
                            display: block;
                        }

                        .start {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    &.faq {
        position: relative;
        background: linear-gradient(
            270deg,
            rgba(18.7, 7.7, 57.21, 1),
            rgba(40, 34, 81, 1) 36%,
            rgba(121, 57, 113, 1) 76%,
            rgba(204, 120, 151, 1) 100%
        );

        &:before {
            content: "";
            width: 100%;
            min-width: 1920px;
            height: 100px;
            position: absolute;
            top: -96px;
            right: 0;
            z-index: -1;
            background: linear-gradient(
                270deg,
                rgb(18.7, 7.7, 57.21),
                rgb(40, 34, 81) 36%,
                rgb(121, 57, 113) 76%,
                rgb(204, 120, 151) 100%
            );
            -webkit-mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1499 1048" xmlns="http://www.w3.org/2000/svg"><path d="M1443.6 49.7187C1443.6 63.5259 1454.8 74.7188 1468.6 74.7188H1498C1498.55 74.7188 1499 75.1665 1499 75.7188V1046.97C1499 1047.52 1498.55 1047.97 1498 1047.97H1C0.447715 1047.97 4.95425e-09 1047.52 0 1046.97V75.7188C0 75.1665 0.447715 74.7188 1 74.7188H1092.02C1105.83 74.7188 1117.02 63.5259 1117.02 49.7187V25C1117.02 11.1929 1128.21 0 1142.02 0H1418.6C1432.41 0 1443.6 11.1929 1443.6 25V49.7187Z"/></svg>');
            mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1499 1048" xmlns="http://www.w3.org/2000/svg"><path d="M1443.6 49.7187C1443.6 63.5259 1454.8 74.7188 1468.6 74.7188H1498C1498.55 74.7188 1499 75.1665 1499 75.7188V1046.97C1499 1047.52 1498.55 1047.97 1498 1047.97H1C0.447715 1047.97 4.95425e-09 1047.52 0 1046.97V75.7188C0 75.1665 0.447715 74.7188 1 74.7188H1092.02C1105.83 74.7188 1117.02 63.5259 1117.02 49.7187V25C1117.02 11.1929 1128.21 0 1142.02 0H1418.6C1432.41 0 1443.6 11.1929 1443.6 25V49.7187Z"/></svg>');
            -webkit-mask-size: cover;
            mask-size: cover;
            -webkit-mask-position: right top;
            mask-position: right top;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            @include max_1400 {
                min-width: 1400px;
                height: 70px;
                top: -70px;
            }
            @include max_1200 {
                -webkit-mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 992 653" xmlns="http://www.w3.org/2000/svg"><path d="M744.422 0C734.202 0 725.917 8.28444 725.917 18.5039V34.5576C725.917 37.5633 723.48 40 720.475 40H5.44243C2.43665 40 0 42.4367 0 45.4424V647.558C0 650.563 2.43667 653 5.44244 653H986.558C989.563 653 992 650.563 992 647.558V45.4424C992 42.4367 989.563 40 986.558 40H934.151C931.146 40 928.709 37.5633 928.709 34.5576V18.5039C928.709 8.28458 920.424 0.000217337 910.205 0H744.422Z"/></svg>');
                mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 992 653" xmlns="http://www.w3.org/2000/svg"><path d="M744.422 0C734.202 0 725.917 8.28444 725.917 18.5039V34.5576C725.917 37.5633 723.48 40 720.475 40H5.44243C2.43665 40 0 42.4367 0 45.4424V647.558C0 650.563 2.43667 653 5.44244 653H986.558C989.563 653 992 650.563 992 647.558V45.4424C992 42.4367 989.563 40 986.558 40H934.151C931.146 40 928.709 37.5633 928.709 34.5576V18.5039C928.709 8.28458 920.424 0.000217337 910.205 0H744.422Z"/></svg>');
                top: -48px;
                height: 48px;
                min-width: 1200px;
            }
            @include max_992 {
                -webkit-mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 768 653" xmlns="http://www.w3.org/2000/svg"><path d="M580.504 0C570.285 0.000214821 562 8.28458 562 18.5039V34.5576C562 37.5633 559.563 40 556.558 40H5.44246C2.43668 40 0 42.4367 0 45.4424V647.558C0 650.563 2.43667 653 5.44244 653H762.558C765.563 653 768 650.563 768 647.558V45.4424C768 42.4367 765.563 40 762.558 40H724.442C721.437 40 719 37.5633 719 34.5576V18.5039C719 8.28458 710.715 0.000217349 700.496 0H580.504Z"/></svg>');
                mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 768 653" xmlns="http://www.w3.org/2000/svg"><path d="M580.504 0C570.285 0.000214821 562 8.28458 562 18.5039V34.5576C562 37.5633 559.563 40 556.558 40H5.44246C2.43668 40 0 42.4367 0 45.4424V647.558C0 650.563 2.43667 653 5.44244 653H762.558C765.563 653 768 650.563 768 647.558V45.4424C768 42.4367 765.563 40 762.558 40H724.442C721.437 40 719 37.5633 719 34.5576V18.5039C719 8.28458 710.715 0.000217349 700.496 0H580.504Z"/></svg>');
                min-width: 992px;
                height: 52px;
                top: -52px;
            }
            @include max_768 {
                min-width: 768px;
                height: 41px;
                top: -39px;
            }
            @include max_576 {
                min-width: 840px;
                height: 43px;
                top: -40px;
                right: 50%;
                transform: translateX(19%);
                -webkit-mask-position: center top;
                mask-position: center top;
                background: linear-gradient(
                    270deg,
                    rgb(18.7, 7.7, 57.21),
                    rgb(40, 34, 81) 9%,
                    rgb(121, 57, 113) 37%,
                    rgb(204, 120, 151) 30%
                );
            }
        }

        .container {
            max-width: 1276px;
            @include max_1400 {
                max-width: 1050px;
            }
            @include max_1200 {
                max-width: 774px;
            }
            @include max_992 {
                max-width: 100%;
                padding-left: 50px;
                padding-right: 20px;
            }
            @include max_768 {
                padding-left: 30px;
            }
            @include max_576 {
                padding-left: 20px;
            }
        }

        .section-title {
            top: -80px;
            position: absolute;
            right: 200px;
            @include max_1400 {
                right: 140px;
                top: -63px;
            }
            @include max_1200 {
                font-size: 38px;
                right: 150px;
                top: -41px;
            }
            @include max_992 {
                right: 120px;
            }
            @include max_768 {
                font-size: 32px;
                top: -36px;
                right: 90px;
            }
            @include max_576 {
                font-size: 28px;
                top: -34px;
                right: 50%;
                transform: translateX(80%);
            }
        }

        .faq-content {
            position: relative;
            padding-top: 143px;
            padding-bottom: 103px;
            align-items: center;
            display: flex;
            @include max_1200 {
                padding-top: 75px;
                padding-bottom: 70px;
            }
            @include max_992 {
                padding-top: 25px;
                padding-bottom: 50px;
            }
        }

        .items {
            padding-top: 33px;
            margin-left: 394px;
            padding-bottom: 102px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @include max_1400 {
                margin-left: 314px;
            }
            @include max_1200 {
                padding-top: 12px;
                padding-bottom: 46px;
                margin-left: 217px;
            }
            @include max_992 {
                margin-left: 138px;
            }
            @include max_576 {
                margin-left: 98px;
            }

            .item {
                display: grid;
                position: relative;
                grid-template-rows: auto 0fr;
                transition: grid-template-rows 0.5s ease;
                max-width: 630px;

                &:not(:last-child) {
                    margin-bottom: 86px;
                    @include max_1200 {
                        margin-bottom: 40px;
                    }
                }

                &:before {
                    content: "";
                    position: absolute;
                    left: -308px;
                    top: 15px;
                    height: 1px;
                    width: 51px;
                    background: #fff;
                    @include max_1400 {
                        left: -208px;
                    }
                    @include max_1200 {
                        left: -156px;
                    }
                    @include max_992 {
                        left: -80px;
                        width: 36px;
                    }
                    @include max_576 {
                        left: -60px;
                    }
                }

                &.active {
                    grid-template-rows: auto 1fr;

                    .title {
                        font-size: 40px;
                        opacity: 1;
                        @include max_1200 {
                            font-size: 24px;
                        }
                        @include max_576 {
                            font-size: 20px;
                        }
                    }

                    .content {
                        opacity: 1;
                        visibility: visible;
                        padding-top: 0;
                    }

                    .desc {
                        padding: 16px 0 63px;
                        @include max_1200 {
                            padding: 24px 0;
                        }
                    }

                    .btn {
                        opacity: 1;
                    }
                }

                .title {
                    color: #fff;
                    text-transform: uppercase;
                    opacity: 0.7;
                    font-size: 24px;
                    cursor: pointer;
                    transition: all 0.1s ease;
                    grid-row: 1;
                    padding-bottom: 0;
                    @include max_1200 {
                        font-size: 20px;
                    }
                    @include max_576 {
                        font-size: 18px;
                    }
                }

                .content {
                    grid-row: 2;
                    opacity: 0;
                    visibility: hidden;
                    transition: all 0.1s ease;
                    overflow: hidden;
                }

                .desc {
                    color: #fff;
                    padding: 0;
                    transition: padding 0.1s ease;
                }

                .btn {
                    width: max-content;
                    display: block;
                    opacity: 0;
                    transition: opacity 0.1s ease 0.1s;
                }
            }
        }

        .slider {
            display: flex;
            gap: 86px;
            height: 100%;

            @include max_1200 {
                gap: 65px;
            }
            @include max_576 {
                gap: 30px;
            }

            &-line {
                border-radius: 8px;
                box-shadow: inset 0 1px 3.4000000953674316px 0 rgba(0, 0, 0, 1);
                background: rgba(255, 255, 255, 1);
                opacity: 0.73;
                width: 8px;
                height: 100%;
                position: relative;
            }

            &-fader {
                box-sizing: border-box;
                border: 1px solid rgba(1, 0, 26, 1);
                border-radius: 35px;
                box-shadow: 2px 2px 1.7999999523162842px 0 rgba(0, 0, 0, 0.25);
                transition: all 0.1s linear;
                background: radial-gradient(109% 98% at 50% 34%, #fff, #100134 100%);
                width: 60px;
                height: 108px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 0;
                cursor: grab;
                user-select: none;
                -webkit-user-select: none;
                -ms-user-select: none;

                &:active {
                    cursor: grabbing;
                }

                @include max_1200 {
                    width: 41px;
                    height: 68px;
                }

                span {
                    box-shadow: inset 2px 2px 2.4000000953674316px 0 rgba(0, 0, 0, 0.25);
                    background: radial-gradient(
                        90% 152% at 50% 50%,
                        rgba(232.93, 141.1, 209.98, 1),
                        rgba(92, 49, 102, 1) 100%
                    );
                    width: 42px;
                    height: 42px;
                    border-radius: 100%;
                    display: block;
                    margin: 13px auto 0;
                    @include max_1200 {
                        width: 28px;
                        height: 28px;
                        margin-top: 8px;
                    }
                }
            }
        }
    }

    &.project-stages {
        .content {
            margin-bottom: 0 !important;
        }
    }
}
