/******************************
* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss
* Стили страницы
******************************/
@import "../fragments/variables";
@import "../fragments/components_mixin";
@import "../fragments/media_mixin";
@import "../fragments/fonts_mixin";

/* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss */

/* Стили страницы */
.page-7 {
    &.banner {
        padding: 114px 0 54px;
        position: relative;

        background: linear-gradient(
            134.15deg,
            rgba(18.7, 7.7, 57.21, 1),
            rgba(40, 34, 81, 1) 36%,
            rgba(121, 57, 113, 1) 76%,
            rgba(204, 120, 151, 1) 100%
        );

        .container {
            max-width: 1184px;
            position: relative;
        }

        .offer {
            padding-top: 222px;
            margin-bottom: 174px;
            padding-left: 66px;

            .title {
                padding: 19px 48px;
                border: 5px solid #fff;
                border-radius: 24px;
                margin-bottom: 43px;
                width: max-content;

                h1 {
                    text-shadow: 4.57px 3.55px 0.1015px rgba(0, 0, 0, 0.25);
                    color: #fff;
                }
            }

            .desc {
                max-width: 504px;
                margin-bottom: 77px;
            }
        }

        .banner-image {
            position: absolute;
            right: 0;
            top: 81px;
        }

        .bottom-text {
            text-align: center;
        }

        .coordinates {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 680px;
            z-index: 2;

            .coordinate-axis {
                &.line-right {
                    .line {
                        width: 100%;
                        height: 2px;

                        &:before {
                            right: 0;
                            top: 0;
                            transform: rotate(55deg) translate(-3px, 2px);
                        }

                        &:after {
                            bottom: 0;
                            right: 0;
                            transform: rotate(-55deg) translate(-3px, -2px);
                        }
                    }

                    .label {
                        position: absolute;
                        bottom: -40px;
                        right: 0;
                        font-size: 24px;
                        color: #fff;
                    }
                }

                &.line-top {
                    .line {
                        height: 100%;
                        width: 2px;

                        &:before {
                            top: 0;
                            transform: rotate(-34deg) translateX(3px);
                        }

                        &:after {
                            top: 0;
                            transform: rotate(34deg) translateX(-3px);
                        }
                    }

                    .label {
                        position: absolute;
                        left: -30px;
                        top: 0;
                    }
                }

                .line {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background: #fff;
                    display: block;

                    &:before,
                    &:after {
                        position: absolute;
                        display: block;
                        content: "";
                        width: 2px;
                        height: 10px;
                        background: #fff;
                    }
                }
            }
        }
    }

    &.services {
        padding: 235px 0 211px;
        position: relative;

        .list {
            margin-left: 35%;
            max-width: 679px;

            .item {
                &:not(:last-child) {
                    margin-bottom: 68px;
                }

                &.active {
                    .title {
                        opacity: 1;
                        font-size: 40px;
                    }
                }

                .title {
                    margin-bottom: 0;
                    opacity: 0.4;
                    font-size: 24px;
                    text-transform: uppercase;
                }

                .desc {
                    margin: 37px 0 63px;
                }
            }
        }

        .service-knob {
            position: absolute;
            left: -197px;
            padding: 25px;

            .knob {
                &.step {
                    &_1 {
                        transform: rotate(-90deg);
                    }

                    &_2 {
                        transform: rotate(-45deg);
                    }

                    &_3 {
                        transform: rotate(0deg);
                    }

                    &_4 {
                        transform: rotate(45deg);
                    }

                    &_5 {
                        transform: rotate(90deg);
                    }
                }
            }

            .line {
                position: absolute;
                top: -10px;
                right: 0;
            }
        }
    }

    &.platforms {
        position: relative;

        background: linear-gradient(
            180deg,
            rgba(18.7, 7.7, 57.21, 1),
            rgba(40, 34, 81, 1) 36%,
            rgba(121, 57, 113, 1) 76%,
            rgba(204, 120, 151, 1) 100%
        );

        &:before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: -137px;
            background: rgba(18.7, 7.7, 57.21, 1);
            z-index: -1;
            -webkit-mask-image: url('data:image/svg+xml;utf8,<svg width="1423" height="1550" viewBox="0 0 1423 1550" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M726.521 0C709.505 0.000200104 694.813 11.914 691.298 28.5625L682.218 71.5625C679.542 84.2332 670.118 102.279 657.168 102.279H-29C-29.5522 102.279 -30 102.727 -30 103.279V1520C-30 1536.57 -16.5685 1550 -1.08406e-06 1550H1482C1498.57 1550 1512 1536.57 1512 1520V103.279C1512 102.727 1511.55 102.279 1511 102.279H1463.31C1451.03 102.279 1442.24 85.3565 1440.28 73.2412L1433.31 30.2412C1430.48 12.8095 1415.43 0 1397.77 0H726.521Z" fill="url(%23paint0_linear_781_87636)"/><defs><linearGradient id="paint0_linear_781_87636" x1="741" y1="0" x2="741" y2="1550" gradientUnits="userSpaceOnUse"><stop stop-color="%23130839"/><stop offset="0.360577" stop-color="%23282251"/><stop offset="0.764423" stop-color="%23793971"/><stop offset="1" stop-color="%23CC7897"/></linearGradient></defs></svg>');
            mask-image: url('data:image/svg+xml;utf8,<svg width="1423" height="1550" viewBox="0 0 1423 1550" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M726.521 0C709.505 0.000200104 694.813 11.914 691.298 28.5625L682.218 71.5625C679.542 84.2332 670.118 102.279 657.168 102.279H-29C-29.5522 102.279 -30 102.727 -30 103.279V1520C-30 1536.57 -16.5685 1550 -1.08406e-06 1550H1482C1498.57 1550 1512 1536.57 1512 1520V103.279C1512 102.727 1511.55 102.279 1511 102.279H1463.31C1451.03 102.279 1442.24 85.3565 1440.28 73.2412L1433.31 30.2412C1430.48 12.8095 1415.43 0 1397.77 0H726.521Z" fill="url(%23paint0_linear_781_87636)"/><defs><linearGradient id="paint0_linear_781_87636" x1="741" y1="0" x2="741" y2="1550" gradientUnits="userSpaceOnUse"><stop stop-color="%23130839"/><stop offset="0.360577" stop-color="%23282251"/><stop offset="0.764423" stop-color="%23793971"/><stop offset="1" stop-color="%23CC7897"/></linearGradient></defs></svg>');
            -webkit-mask-size: cover;
            mask-size: cover;
            -webkit-mask-position: center top;
            mask-position: center top;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
        }

        .section-title {
            position: absolute;
            right: 14%;
            top: -90px;
        }

        .items {
            gap: 63px;
            padding-top: 109px;
            margin-bottom: 95px;

            .item {
                padding: 38px;
                border: 3px solid #fff;
                border-radius: 24px;
                transition: $transition-default;

                &:hover {
                    background: #fff;

                    .desc {
                        background: linear-gradient(
                            180deg,
                            rgba(19, 8, 57, 1) 0%,
                            rgba(40, 34, 81, 1) 36%,
                            rgba(121, 57, 113, 1) 76%,
                            rgba(204, 120, 151, 1) 100%
                        );
                        -webkit-background-clip: text;
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                        color: transparent;
                    }

                    .btn {
                        color: #fff;
                        background: linear-gradient(
                            180deg,
                            rgba(18.7, 7.7, 57.21, 1),
                            rgba(40, 34, 81, 1) 52%,
                            rgba(121, 57, 113, 1) 95%
                        );
                    }

                    img {
                        &.hover {
                            display: block;
                        }

                        &.default {
                            display: none;
                        }
                    }
                }

                svg,
                img {
                    display: block;
                    margin: 0 auto 26px;

                    &.hover {
                        display: none;
                    }
                }

                .desc {
                    transition: $transition-default;
                    max-width: 294px;
                    text-align: center;
                    color: #fff;
                    margin: 0 auto 45px;
                }

                .btn {
                    background: transparent;
                    border: 1px solid #fff;
                    min-width: 125px;
                    color: #fff;
                }
            }
        }

        .swiper-container {
            .line {
                display: block;
                margin: 0 auto 17px;
            }

            .navigation {
                display: flex;
                align-items: center;
                gap: 44px;
                justify-content: center;

                .swiper-btn {
                    width: 43px;
                    height: 43px;
                    border: 3px solid #fff;
                    border-radius: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}
