/******************************
* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss
* Стили страницы
******************************/
@import "../fragments/variables";
@import "../fragments/components_mixin";
@import "../fragments/media_mixin";
@import "../fragments/fonts_mixin";

/* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss */

/* Стили страницы */
.page-7 {
    &.banner {
        padding: 114px 0 54px;
        position: relative;

        background: linear-gradient(
            134.15deg,
            rgba(18.7, 7.7, 57.21, 1),
            rgba(40, 34, 81, 1) 36%,
            rgba(121, 57, 113, 1) 76%,
            rgba(204, 120, 151, 1) 100%
        );

        .container {
            max-width: 1184px;
            position: relative;
        }

        .offer {
            position: relative;
            z-index: 5;
            padding-top: 222px;
            margin-bottom: 174px;
            padding-left: 66px;

            .title {
                padding: 19px 48px;
                border: 5px solid #fff;
                border-radius: 24px;
                margin-bottom: 43px;
                width: max-content;

                h1 {
                    text-shadow: 4.57px 3.55px 0.1015px rgba(0, 0, 0, 0.25);
                    color: #fff;
                }
            }

            .desc {
                max-width: 504px;
                margin-bottom: 77px;
            }
        }

        .banner-image {
            position: absolute;
            right: 0;
            top: 81px;
        }

        .bottom-text {
            text-align: center;
        }

        .coordinates {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 680px;
            z-index: 2;

            .coordinate-axis {
                &.line-right {
                    .line {
                        width: 100%;
                        height: 2px;

                        &:before {
                            right: 0;
                            top: 0;
                            transform: rotate(55deg) translate(-3px, 2px);
                        }

                        &:after {
                            bottom: 0;
                            right: 0;
                            transform: rotate(-55deg) translate(-3px, -2px);
                        }
                    }

                    .label {
                        position: absolute;
                        bottom: -40px;
                        right: 0;
                        font-size: 24px;
                        color: #fff;
                    }
                }

                &.line-top {
                    .line {
                        height: 100%;
                        width: 2px;

                        &:before {
                            top: 0;
                            transform: rotate(-34deg) translateX(3px);
                        }

                        &:after {
                            top: 0;
                            transform: rotate(34deg) translateX(-3px);
                        }
                    }

                    .label {
                        position: absolute;
                        left: -30px;
                        top: 0;
                    }
                }

                .line {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background: #fff;
                    display: block;

                    &:before,
                    &:after {
                        position: absolute;
                        display: block;
                        content: "";
                        width: 2px;
                        height: 10px;
                        background: #fff;
                    }
                }
            }
        }
    }

    &.services {
        padding: 235px 0 211px;
        position: relative;

        .list {
            margin-left: 35%;
            max-width: 679px;

            .item {
                &:not(:last-child) {
                    margin-bottom: 68px;
                }

                &.active {
                    .title {
                        opacity: 1;
                        font-size: 40px;
                    }
                }

                .title {
                    margin-bottom: 0;
                    opacity: 0.4;
                    font-size: 24px;
                    text-transform: uppercase;
                }

                .desc {
                    margin: 37px 0 63px;
                }
            }
        }

        .service-knob {
            position: absolute;
            left: -197px;
            padding: 25px;

            .knob {
                &.step {
                    &_1 {
                        transform: rotate(-90deg);
                    }

                    &_2 {
                        transform: rotate(-45deg);
                    }

                    &_3 {
                        transform: rotate(0deg);
                    }

                    &_4 {
                        transform: rotate(45deg);
                    }

                    &_5 {
                        transform: rotate(90deg);
                    }
                }
            }

            .line {
                position: absolute;
                top: -10px;
                right: 0;
            }
        }
    }

    &.platforms {
        position: relative;
        padding-bottom: 195px;
        background: linear-gradient(
            180deg,
            rgba(18.7, 7.7, 57.21, 1),
            rgba(40, 34, 81, 1) 36%,
            rgba(121, 57, 113, 1) 76%,
            rgba(204, 120, 151, 1) 100%
        );

        &:before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: -137px;
            background: rgba(18.7, 7.7, 57.21, 1);
            z-index: -1;
            -webkit-mask-image: url('data:image/svg+xml;utf8,<svg width="1423" height="1550" viewBox="0 0 1423 1550" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M726.521 0C709.505 0.000200104 694.813 11.914 691.298 28.5625L682.218 71.5625C679.542 84.2332 670.118 102.279 657.168 102.279H-29C-29.5522 102.279 -30 102.727 -30 103.279V1520C-30 1536.57 -16.5685 1550 -1.08406e-06 1550H1482C1498.57 1550 1512 1536.57 1512 1520V103.279C1512 102.727 1511.55 102.279 1511 102.279H1463.31C1451.03 102.279 1442.24 85.3565 1440.28 73.2412L1433.31 30.2412C1430.48 12.8095 1415.43 0 1397.77 0H726.521Z" fill="url(%23paint0_linear_781_87636)"/><defs><linearGradient id="paint0_linear_781_87636" x1="741" y1="0" x2="741" y2="1550" gradientUnits="userSpaceOnUse"><stop stop-color="%23130839"/><stop offset="0.360577" stop-color="%23282251"/><stop offset="0.764423" stop-color="%23793971"/><stop offset="1" stop-color="%23CC7897"/></linearGradient></defs></svg>');
            mask-image: url('data:image/svg+xml;utf8,<svg width="1423" height="1550" viewBox="0 0 1423 1550" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M726.521 0C709.505 0.000200104 694.813 11.914 691.298 28.5625L682.218 71.5625C679.542 84.2332 670.118 102.279 657.168 102.279H-29C-29.5522 102.279 -30 102.727 -30 103.279V1520C-30 1536.57 -16.5685 1550 -1.08406e-06 1550H1482C1498.57 1550 1512 1536.57 1512 1520V103.279C1512 102.727 1511.55 102.279 1511 102.279H1463.31C1451.03 102.279 1442.24 85.3565 1440.28 73.2412L1433.31 30.2412C1430.48 12.8095 1415.43 0 1397.77 0H726.521Z" fill="url(%23paint0_linear_781_87636)"/><defs><linearGradient id="paint0_linear_781_87636" x1="741" y1="0" x2="741" y2="1550" gradientUnits="userSpaceOnUse"><stop stop-color="%23130839"/><stop offset="0.360577" stop-color="%23282251"/><stop offset="0.764423" stop-color="%23793971"/><stop offset="1" stop-color="%23CC7897"/></linearGradient></defs></svg>');
            -webkit-mask-size: cover;
            mask-size: cover;
            -webkit-mask-position: center top;
            mask-position: center top;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
        }

        .section-title {
            position: absolute;
            right: 14%;
            top: -90px;
        }

        .items {
            gap: 63px;
            padding-top: 109px;
            margin-bottom: 95px;

            .item {
                padding: 38px;
                border: 3px solid #fff;
                border-radius: 24px;
                transition: $transition-default;

                &:hover {
                    background: #fff;

                    .desc {
                        background: linear-gradient(
                            180deg,
                            rgba(19, 8, 57, 1) 0%,
                            rgba(40, 34, 81, 1) 36%,
                            rgba(121, 57, 113, 1) 76%,
                            rgba(204, 120, 151, 1) 100%
                        );
                        -webkit-background-clip: text;
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                        color: transparent;
                    }

                    .btn {
                        color: #fff;
                        background: linear-gradient(
                            180deg,
                            rgba(18.7, 7.7, 57.21, 1),
                            rgba(40, 34, 81, 1) 52%,
                            rgba(121, 57, 113, 1) 95%
                        );
                    }

                    img {
                        &.hover {
                            display: block;
                        }

                        &.default {
                            display: none;
                        }
                    }
                }

                svg,
                img {
                    display: block;
                    margin: 0 auto 26px;

                    &.hover {
                        display: none;
                    }
                }

                .desc {
                    transition: $transition-default;
                    max-width: 294px;
                    text-align: center;
                    color: #fff;
                    margin: 0 auto 45px;
                }

                .btn {
                    background: transparent;
                    border: 1px solid #fff;
                    min-width: 125px;
                    color: #fff;
                }
            }
        }

        .swiper-content {
            .line {
                display: block;
                margin: 0 auto 17px;
            }

            .swiper-wrapper {
                margin-bottom: 63px;

                .swiper-slide {
                    text-align: center;
                    display: flex;
                    height: auto;
                    flex-direction: column;
                    justify-content: flex-end;
                    min-height: 105px;

                    .title {
                        transition: all 1s ease;
                        font-size: 30px;
                        color: #fff;
                        opacity: 0.5;
                        line-height: $st-base-font-line-height;
                    }

                    .desc {
                        font-size: 20px;
                        height: 0;
                        transition: all 1s ease;
                        opacity: 0;
                        max-width: 244px;
                        margin: 0 auto;
                    }

                    &-active {
                        color: #fff;

                        .title {
                            opacity: 1;
                            font-size: 40px;
                        }

                        .desc {
                            height: 100%;
                            margin: 25px auto 0;

                            opacity: 1;
                        }
                    }
                }
            }

            .navigation {
                display: flex;
                align-items: center;
                gap: 44px;
                justify-content: center;

                .swiper-btn {
                    width: 43px;
                    height: 43px;
                    border: 3px solid #fff;
                    border-radius: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .swiper-bullets {
                    display: flex;
                    width: max-content;
                    gap: 11px;

                    span {
                        width: 7px;
                        border-radius: 100%;
                        display: block;
                        height: 7px;
                        background: #fff;
                    }
                }
            }
        }
    }

    &.project-stages {
        position: relative;
        padding-bottom: 130px;
        margin-top: -137px;

        &:before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            background: #fff;

            -webkit-mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1447 1014" xmlns="http://www.w3.org/2000/svg"><path d="M390.188 0C373.194 0.000113941 358.513 11.8851 354.977 28.5078L344.182 79.2429C341.235 93.0955 329.002 103 314.839 103H1C0.447715 103 6.60566e-09 103.448 0 104V984C0 1000.57 13.4315 1014 30 1014H1417C1433.57 1014 1447 1000.57 1447 984V104C1447 103.448 1446.55 103 1446 103H1139.16C1125 103 1112.77 93.095 1109.82 79.242L1099.03 28.5098C1095.49 11.8863 1080.81 0 1063.82 0H390.188Z"/></svg>');
            mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1447 1014" xmlns="http://www.w3.org/2000/svg"><path d="M390.188 0C373.194 0.000113941 358.513 11.8851 354.977 28.5078L344.182 79.2429C341.235 93.0955 329.002 103 314.839 103H1C0.447715 103 6.60566e-09 103.448 0 104V984C0 1000.57 13.4315 1014 30 1014H1417C1433.57 1014 1447 1000.57 1447 984V104C1447 103.448 1446.55 103 1446 103H1139.16C1125 103 1112.77 93.095 1109.82 79.242L1099.03 28.5098C1095.49 11.8863 1080.81 0 1063.82 0H390.188Z"/></svg>');
            -webkit-mask-size: cover;
            mask-size: cover;
            -webkit-mask-position: center top;
            mask-position: center top;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
        }

        .section-title {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 60px;
            background: linear-gradient(180deg, rgba(5, 3, 12, 1), rgba(40, 34, 81, 1) 97%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            color: transparent;
            display: inline-block;

            font-weight: 900;
        }

        .content {
            position: relative;
            z-index: 1;
            padding-top: 137px;
        }

        .stages {
            margin-left: 100px;
            display: flex;
        }

        .items {
            padding-top: 225px;
            margin-left: 120px;

            .item {
                &:not(:last-child) {
                    margin-bottom: 70px;
                }

                position: relative;

                max-width: 496px;

                transition: $transition-default;

                &.active {
                    .title,
                    .desc {
                        opacity: 1;
                    }
                }

                .title {
                    text-transform: uppercase;
                    font-size: 40px;
                    margin-bottom: 40px;
                    opacity: 0.5;
                }

                .desc {
                    opacity: 0.5;
                }
            }
        }

        .image {
            position: absolute;
            top: 246px;
            right: -41px;
        }

        .line-container {
            position: relative;

            .line {
                width: 3px;
                height: 821px;
                background: rgba(19, 8, 57, 1);
                position: relative;
                display: block;

                &:before,
                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: 0;
                    width: 3px;
                    height: 12px;
                    background: rgba(19, 8, 57, 1);
                }

                &:before {
                    transform: rotate(135deg) translateX(5px);
                    left: 0;
                }

                &:after {
                    transform: rotate(225deg) translateX(-5px);
                    right: 0;
                }

                .step {
                    width: 20px;
                    height: 20px;
                    border-radius: 100%;
                    background: $st-gradient-main;
                    display: block;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);

                    &_1 {
                        top: 230px;
                    }

                    &_2 {
                        top: 426px;
                    }

                    &_3 {
                        top: 611px;
                    }
                }
            }

            .circle {
                width: 34px;
                height: 34px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                background: $st-gradient-main;
                border-radius: 100%;
                top: 230px;
                left: 50%;
                transform: translateX(-50%);

                > span {
                    width: 26px;
                    height: 26px;
                    border-radius: 100%;
                    background: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    > span {
                        width: 20px;
                        height: 20px;
                        border-radius: 100%;
                        background: $st-gradient-main;
                    }
                }
            }
        }
    }

    &.have-a-questions {
        padding-top: 70px;
        margin-bottom: 200px;

        .container {
            max-width: 1276px;
        }

        .content {
            background: $st-gradient-main;
            border-radius: 24px;
            padding: 60px 56px 54px 67px;
            position: relative;
        }

        .section-title {
            padding: 28px 29px 28px 52px;
            width: max-content;
            border-radius: 27px;
            background: rgba(25, 16, 65, 1);

            position: absolute;
            top: -71px;
            left: 52px;
        }

        .subtitle {
            opacity: 0.39;
            margin-left: 168px;
            margin-bottom: 110px;
        }

        .lines {
            .line {
                position: absolute;
                opacity: 0.3;
                background: #fff;

                &:before,
                &:after {
                    position: absolute;
                    content: "";
                    display: block;
                    background: #fff;

                    width: 2px;
                    height: 10px;
                }

                &-left {
                    right: 0;
                    width: 1139px;
                    height: 2px;
                    top: 103px;

                    &:before {
                        left: 0;
                        top: 0;
                        transform: rotate(-45deg) translate(2px, 1px);
                    }

                    &:after {
                        left: 0;
                        bottom: 0;
                        transform: rotate(45deg) translate(2px, -1px);
                    }
                }

                &-bottom {
                    top: 0;
                    width: 2px;
                    height: 553px;
                    right: 39px;

                    &:before {
                        left: 0;
                        bottom: 0;
                        transform: rotate(135deg) translate(3px, 1px);
                    }

                    &:after {
                        right: 0;
                        bottom: 0;
                        transform: rotate(45deg) translate(3px, -1px);
                    }
                }
            }
        }

        .form {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;

            .input-wrapper {
                padding: 30px 0 0 9px;
                position: relative;
                margin-bottom: 58px;

                &_name {
                    margin-right: 67px;
                }

                .required {
                    position: absolute;
                    color: #fff;
                    top: 0;
                    left: 0;
                    font-size: 20px;
                }

                input {
                    background: transparent;
                    border: none;
                    border-bottom: 2px solid #fff;
                    padding: 0 0 19px;
                    font-size: 32px;
                    color: #fff;
                    text-transform: uppercase;

                    &:focus {
                        outline: none;
                    }

                    &::placeholder {
                        font-size: 20px;
                        opacity: 0.27;
                        color: #fff;
                    }
                }
            }

            .message {
                margin-bottom: 69px;
                padding: 19px 33px 19px;
                border: 2px solid #fff;
                border-radius: 18px;
                background: transparent;
                font-size: 32px;
                color: #fff;
                text-transform: uppercase;
                width: 100%;
                height: 76px;

                &:focus {
                    outline: none;
                }

                &::placeholder {
                    font-size: 20px;
                    opacity: 0.27;
                    color: #fff;
                }
            }

            .custom-select {
                position: relative;

                &.select-services {
                    margin-left: 9px;
                    margin-right: 61px;
                }

                &.select-services-price {
                    margin-right: 107px;
                }

                .required {
                    position: absolute;
                    color: #fff;
                    top: -15px;
                    left: -9px;
                    font-size: 20px;
                }

                &_top {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 26px 30px 25px 32px;
                    border: 2px solid #fff;
                    border-radius: 18px;
                    gap: 28px;
                    cursor: pointer;

                    &.active {
                        background: #fff;

                        .custom-select_title {
                            @include gradient-text;
                        }

                        .arrow {
                            transform: rotate(90deg);

                            &_default {
                                display: none;
                            }

                            &_active {
                                display: block;
                            }
                        }
                    }
                }

                &_title {
                    text-transform: uppercase;
                    font-size: 26px;
                    color: #fff;
                    user-select: none;
                }

                .arrow {
                    &_default {
                        display: block;
                    }

                    &_active {
                        display: none;
                    }
                }

                &_list {
                    background: #fff;
                    position: absolute;
                    border-radius: 18px;
                    padding: 24px 27px;
                    z-index: 2;
                    top: calc(100% + 7px);
                    width: 100%;
                    display: none;

                    &.active {
                        display: block;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        top: -2px;
                        left: -2px;
                        right: -2px;
                        bottom: -2px;
                        background: linear-gradient(
                            180deg,
                            rgba(18.7, 7.7, 57.21, 1),
                            rgba(40, 34, 81, 1) 36%,
                            rgba(121, 57, 113, 1) 76%,
                            rgba(204, 120, 151, 1) 100%
                        );
                        border-radius: 20px;
                        z-index: -1;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background: #fff;
                        border-radius: 16px;
                        z-index: -1;
                    }
                }

                &_item {
                    &:not(:last-child) {
                        margin-bottom: 28px;
                    }

                    label {
                        display: flex;
                        align-items: center;
                        text-transform: uppercase;
                        font-size: 19px;
                        gap: 28px;
                        cursor: pointer;

                        span {
                            width: 18px;
                            min-width: 18px;
                            height: 18px;
                            border-radius: 100%;
                            background: $st-gradient-main;
                            position: relative;
                            opacity: 0.45;
                            transition: $transition-default;

                            &:before {
                                content: "";
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                background: #fff;
                                width: 15px;
                                height: 15px;
                                border-radius: 100%;
                            }

                            &:after {
                                content: "";
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%) scale(0);
                                background: $st-gradient-main;
                                width: 8px;
                                height: 8px;
                                transition: $transition-default;
                                border-radius: 100%;
                            }
                        }
                    }

                    input {
                        display: none;

                        &:checked {
                            + label {
                                span {
                                    opacity: 1;

                                    &:after {
                                        transform: translate(-50%, -50%) scale(1);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .btn-send {
                padding: 7px 53px;
                background: #fff;
                border-radius: 8px;
                font-size: 24px;
                font-weight: 700;
                line-height: normal;
                height: 47px;
                border: 2px solid #fff;
                margin-bottom: 28px;

                &:hover {
                    background: transparent;

                    span {
                        background: none;
                        color: #fff;
                        -webkit-text-fill-color: #fff;
                    }
                }
            }

            .social-list {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .error-message {
                color: #ff0000;
                font-size: 14px;
                margin-top: 5px;
                position: absolute;
                bottom: -20px;
            }
        }
    }
}
