/******************************
*
******************************/
@import "fragments/variables";
@import "fragments/components_mixin";
@import "fragments/media_mixin";
@import "fragments/fonts_mixin";
/* Часто повторяющиеся элементы */
@include st-grid-column((2));

/* Normalize */
:root {
    --st-fs: #{$st-base-font-size};
}

* {
    box-sizing: border-box;
    line-height: $st-base-font-line-height;
}

// - html и body
html {
    font-size: var(--st-fs);
    padding: 0;
    margin: 0;
    overflow-x: hidden;

    body {
        font-size: var(--st-fs);
        padding: 0;
        margin: 0;
        line-height: $st-base-font-line-height;
        @include st-font-style(
            (
                style: "regular",
                prop: "font-family",
            )
        );
        background: $st-bg-site;
        color: $st-text-color;
        position: relative;
        overflow-x: hidden;
    }
}

// - Оформление отображения кода <pre>, <code>
pre,
code {
    background: #000 !important;
    color: #fff !important;
    padding: 25px 15px;
    width: 100%;
    display: block;
    margin: 25px 0;
}

// - Настройка контейнера .container
.container {
    width: 100%;
    margin: 0 auto;
}

// Параграф
p {
    padding: 0;
    margin: 0;
}

// - Заголовки h1, .h1, h2, .h2, h3, .h3,
h1,
.h1,
h2,
.h2 {
    font-weight: 700;
    font-size: 64px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    line-height: $st-base-font-line-height;
    @include max_1400 {
        font-size: 56px;
    }
    @include max_1200 {
        font-size: 46px;
    }
    @include max_768 {
        font-size: 38px;
    }
    @include max_576 {
        font-size: 32px;
    }
}

// - Перенос текста
.whiteSpace {
    &_nowrap {
        white-space: nowrap;
    }
}

// - Ссылки
a {
    transition: $transition-default;
    color: $st-text-color;
    position: relative;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: none;
        outline: none;
        cursor: $st-cursor-hover;
    }
}

button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    transition: $transition-default;
}

// - Цвета по умолчанию

.color-white {
    color: #fff !important;
}

// - Картинки
img {
    height: auto;
    max-width: 100%;

    &.lazy {
        opacity: 0;
    }

    &:not([src]):not([srcset]) {
        visibility: hidden;
    }

    &:not(.initial) {
        transition: opacity 1s;
    }

    &.initial,
    &.loaded,
    &.error {
        opacity: 1;
    }

    &.max-width-100 {
        max-width: 100%;
    }
}

object {
    width: 100%;
}

// - Списки
ul,
ol {
    margin: 0;
    padding: 0;
}

ul {
    display: block;
    padding: 0;
    list-style: none;
}

ol {
}

// - Секции
section,
.section {
}

// - Заливка - background
.bg {
}

// - Grid
.grid {
    display: grid;
}

.d-none {
    display: none !important;
}

.gradient-text {
    background: linear-gradient(
        180deg,
        rgba(19, 8, 57, 1) 0%,
        rgba(40, 34, 81, 1) 36%,
        rgba(121, 57, 113, 1) 76%,
        rgba(204, 120, 151, 1) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline-block;
}

/* Header */
header#header.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    .header-logo {
        display: block;
        margin-right: auto;

        svg {
            @include max_576 {
                max-width: 90px;
                height: auto;
            }
        }

        .gradient {
            display: none;
        }
    }

    .header-container {
        max-width: 1360px;
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 32px 0;
        margin: 0 auto;
        @include max_1400 {
            max-width: 1130px;
        }
        @include max_1200 {
            max-width: 960px;
            padding: 16px 0;
        }
        @include max_992 {
            max-width: 725px;
        }
        @include max_768 {
            max-width: 540px;
        }
        @include max_576 {
            max-width: 100%;
            padding: 20px 15px;
        }
    }

    .header-menu {
        @include max_1200 {
            display: none;
            position: absolute;
            top: 0;
            background: #fff;
            max-width: 286px;
            z-index: 101;
            width: 100%;
            height: 100vh;
            right: 0;
            padding-top: 94px;
            &.active {
                display: block;
            }
        }

        &_list {
            display: flex;
            align-items: center;
            padding: 12px 0;
            gap: 24px;
            @include max_1200 {
                flex-direction: column;
                border-top: 1px solid #ddd;
                padding-top: 16px;
            }

            > .menu-item {
                border-radius: 8px;
                transition: $transition-default;
                @include max_1200 {
                    border-radius: 0;
                    width: 100%;
                }

                a {
                    text-transform: uppercase;
                    color: #fff;
                    font-size: 14px;
                    padding: 4px 16px;
                    display: inline-block;
                    @include max_1200 {
                        @include gradient-text;
                        font-size: 16px;
                        text-align: center;
                        width: 100%;
                        padding: 11px;
                    }
                    @include max_992 {
                        font-size: 14px;
                    }
                }

                &.menu-item-has-children {
                    position: relative;

                    > a {
                        @include max_1200 {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-wrap: wrap;
                            gap: 10px;
                            &:after {
                                content: "";
                                display: inline-block;
                                width: 12px;
                                height: 12px;
                                background: linear-gradient(
                                    90deg,
                                    #130839 0%,
                                    #282251 36.06%,
                                    #793971 76.44%,
                                    #cc7897 100%
                                );
                                -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.329252' y='0.329252' width='11.3415' height='11.3415' rx='5.67075' stroke='black' stroke-width='0.658503'/%3E%3Cpath d='M9.7 6.17321C9.83333 6.09623 9.83333 5.90377 9.7 5.8268L4.3 2.7091C4.16667 2.63212 4 2.72835 4 2.88231V9.11769C4 9.27165 4.16667 9.36788 4.3 9.2909L9.7 6.17321Z' fill='black'/%3E%3C/svg%3E");
                                mask-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.329252' y='0.329252' width='11.3415' height='11.3415' rx='5.67075' stroke='black' stroke-width='0.658503'/%3E%3Cpath d='M9.7 6.17321C9.83333 6.09623 9.83333 5.90377 9.7 5.8268L4.3 2.7091C4.16667 2.63212 4 2.72835 4 2.88231V9.11769C4 9.27165 4.16667 9.36788 4.3 9.2909L9.7 6.17321Z' fill='black'/%3E%3C/svg%3E");
                                -webkit-mask-repeat: no-repeat;
                                mask-repeat: no-repeat;
                                -webkit-mask-position: center;
                                mask-position: center;
                            }
                        }
                    }

                    &.active {
                        background: $st-gradient-main;

                        > a {
                            color: #fff;
                            background: transparent;
                            -webkit-text-fill-color: #fff;

                            &:after {
                                transform: rotate(90deg);
                                background: #fff;
                            }
                        }
                    }

                    &:hover {
                        @include min_definite_width(1200) {
                            .sub-menu {
                                display: block;
                            }
                        }
                    }

                    .sub-menu {
                        display: none;
                        position: absolute;
                        background: #fff;
                        top: 100%;
                        left: 0;
                        width: 110%;
                        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
                        border-radius: 8px;
                        @include max_1200 {
                            position: static;
                            border-radius: 0;
                            box-shadow: none;
                            width: 100%;
                        }

                        &.active {
                            display: block;
                        }

                        .menu-item {
                            padding: 0;
                            text-align: center;

                            &:not(:last-child) {
                                @include min_definite_width(1200) {
                                    border-bottom: 1px solid rgba(19, 8, 57, 0.17);
                                }
                            }

                            @include max_1200 {
                                border-bottom: 1px solid rgba(19, 8, 57, 0.17);
                            }

                            a {
                                font-weight: 400;
                                font-size: 12px;
                                padding: 4px 0;
                                background: linear-gradient(
                                    180deg,
                                    rgba(18.7, 7.7, 57.21, 1),
                                    rgba(40, 34, 81, 1) 48%,
                                    rgba(121, 57, 113, 1) 100%
                                );
                                -webkit-background-clip: text;
                                background-clip: text;
                                -webkit-text-fill-color: transparent;
                                color: transparent;

                                &:hover {
                                    font-weight: 700;
                                }

                                @include max_1200 {
                                    font-size: 14px;
                                    padding: 10px;
                                }
                                @include max_992 {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }

                &:hover {
                    @include min_definite_width(1200) {
                        background: #fff;
                        @include max_1200 {
                            background: $st-gradient-main;
                        }

                        a {
                            font-weight: 700;
                            background: linear-gradient(
                                180deg,
                                rgba(19, 8, 57, 1) 0%,
                                rgba(40, 34, 81, 1) 36%,
                                rgba(121, 57, 113, 1) 76%,
                                rgba(204, 120, 151, 1) 100%
                            );
                            -webkit-background-clip: text;
                            background-clip: text;
                            -webkit-text-fill-color: transparent;
                            color: transparent;
                        }
                    }
                }

                &.current-menu-item,
                &.current-page-parent {
                    background: #fff;
                    @include max_1200 {
                        background: $st-gradient-main;
                    }

                    a {
                        font-weight: 700;
                        background: linear-gradient(
                            180deg,
                            rgba(19, 8, 57, 1) 0%,
                            rgba(40, 34, 81, 1) 36%,
                            rgba(121, 57, 113, 1) 76%,
                            rgba(204, 120, 151, 1) 100%
                        );
                        -webkit-background-clip: text;
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                        color: transparent;
                        @include max_1200 {
                            color: #fff;
                            background: transparent;
                            -webkit-text-fill-color: #fff;
                            &:after {
                                background: #fff;
                            }
                        }
                    }
                }
            }
        }
    }

    .header-end {
        display: flex;
        align-items: center;
        gap: 29px;
        margin-left: auto;
        @include max_1200 {
            margin-right: 32px;
            z-index: 102;
        }

        &.open-menu {
            .changing-font-size__btn {
                .gradient {
                    display: block;
                }

                .white {
                    display: none;
                }
            }

            .header-phone {
                @include gradient-text;
            }
        }

        .header-phone {
            font-size: 14px;
            color: #fff;
            @include max_576 {
                font-size: 12px;
            }
        }

        .changing-font-size__btn {
            .gradient {
                display: none;
            }
        }

        @include max_576 {
            margin-right: 12px;
            gap: 20px;
        }
    }

    .changing-font-size {
        input {
            display: none;
        }

        &_wrapper {
            display: none;
            width: 100%;
            max-width: 328px;
            position: absolute;
            top: calc(100% + -32px);
            right: 0;
            background: #fff;
            border-radius: 16px;
            padding: 8px 16px;
            @include max_1200 {
                top: calc(100% + -22px);
            }
            @include max_576 {
                right: 15px;
            }
            @include max_definite_width(400) {
                max-width: 90% !important;
                left: 15px !important;
            }

            &.active {
                display: block;
            }
        }

        &_container {
            position: relative;
        }

        &_thumb {
            cursor: pointer;
            width: 22px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 22px;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(-11px, -50%);

            svg {
                width: 22px;
                height: 22px;
            }
        }

        &_line {
            cursor: pointer;
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 2px;

            &:before {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                height: 2px;
                width: 100%;
                background: $st-text-color;
            }

            span {
                width: 1px;
                height: 22px;
                display: block;
                background: $st-text-color;

                &.bold {
                    width: 2px;
                    height: 30px;
                }
            }
        }

        &_label {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;

            .small {
                font-size: 20px;
                @include max_576 {
                    font-size: 14px;
                }
            }

            .big {
                font-size: 32px;
                @include max_576 {
                    font-size: 20px;
                }
            }
        }
    }

    .mobile-menu-btn {
        display: none;
        flex-direction: column;
        gap: 4px;
        width: 60px;
        height: 60px;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 102;
        @include max_1200 {
            display: flex;
        }

        &.active {
            span {
                background: $st-gradient-main;

                &:nth-child(1) {
                    transform: rotate(45deg) translate(5px, 1px);
                }

                &:nth-child(2) {
                    display: none;
                }

                &:nth-child(3) {
                    transform: rotate(-45deg) translate(5px, 0px);
                }
            }
        }

        span {
            height: 4px;
            width: 27px;
            border-radius: 5px;
            background: #fff;
            transition: $transition-default;
        }
    }
}

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    backdrop-filter: blur(4px);
    background: rgba(0, 2, 33, 0.5);
    top: 0;
    left: 0;

    &.active {
        display: block;
    }
}

// - Мобильное меню
#mobileMenu {
}

/* Body */
// - Шаблоны страниц
main {
    &.page-404 {
    }
}

// - Кнопки
.btn {
    padding: 8px 16px;
    min-width: 177px;
    background: #fff;
    border-radius: 8px;
    color: $st-text-color;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;

    &-gradient {
        color: #fff;
        background: linear-gradient(
            180deg,
            rgba(18.7, 7.7, 57.21, 1),
            rgba(40, 34, 81, 1) 52%,
            rgba(121, 57, 113, 1) 95%
        );
    }

    &-center {
        margin: 0 auto;
        display: block;
        width: max-content;
    }
}

// - Формы
form {
}

/* Footer */
footer.footer#footer {
    padding: 40px 0 31px;
    @include max_1200 {
        padding: 47px 0 24px;
    }

    .container {
        max-width: 1360px;
        @include max_1400 {
            max-width: 1130px;
        }
        @include max_1200 {
            max-width: 960px;
        }
        @include max_992 {
            max-width: 725px;
        }
        @include max_768 {
            max-width: 540px;
        }
        @include max_576 {
            max-width: 100%;
            padding: 0 15px;
        }
    }

    .logo {
        @include max_576 {
            margin-bottom: 20px;
        }

        svg {
            @include max_1200 {
                max-width: 101px;
                height: 55px;
            }
        }
    }

    .footer-content {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 23px;
        @include max_1200 {
            align-items: flex-start;
            margin-bottom: 32px;
        }
        @include max_576 {
            flex-direction: column;
        }
    }

    .footer-menu {
        margin-bottom: 41px;
        @include max_1200 {
            margin-bottom: 33px;
        }

        &_list {
            display: flex;
            align-items: center;
            gap: 41px;
            @include max_1200 {
                gap: 30px;
            }
            @include max_768 {
                gap: 20px;
            }
            @include max_576 {
                flex-wrap: wrap;
            }

            a {
                @include gradient-text;
                text-transform: uppercase;
                @include max_1200 {
                    font-size: 12px;
                }
            }
        }
    }

    .socials {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 60px;
        margin-bottom: 13px;
        @include max_576 {
            gap: 30px;
            justify-content: flex-start;
        }
    }

    .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include max_576 {
            flex-direction: column-reverse;
            gap: 20px;
            align-items: flex-start;
        }

        p,
        a {
            font-size: 10px;
        }
    }
}

/* Дополнительные модули */
@import "modules";
