/******************************
*
******************************/
@use "sass:math";
@import "fragments/variables";
@import "fragments/components_mixin";
@import "fragments/media_mixin";
@import "fragments/fonts_mixin";

/* Кастомное PopUp окно */
.popClick {
    cursor: pointer;
}

.popup {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 0.5);
    padding: 0;
    margin: 0;
    overflow: auto;
    top: 0;
    bottom: 0;
    right: 0;
    transition: 0.3s;

    img.loader-popup {
        background: red;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        border-radius: 50%;
        box-shadow: 0 0 0 10000px rgb(0 0 0 / 0.5);
    }

    .popup-container {
        overflow: auto;
    }

    .pop {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        padding: 50px;
        text-align: left;
        border-radius: 20px;
        background: white;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        transition: all 0.8s ease 0s;
        opacity: 0;
        visibility: hidden;
        transform: translate(0, -100%);
        @include max_768 {
            padding: 50px 15px;
            max-width: 90% !important;
        }
        @include max_576 {
            margin: auto 25px;
        }

        .close {
            width: 30px;
            height: 30px;
            position: absolute;
            right: 14px;
            top: 14px;
            transition: 0.5s;
            border-radius: 50px;
            background: white;
            border: 2px solid #d60606;
            opacity: 0.3;
            z-index: 999999;

            &:before {
                content: "";
                width: 20px;
                height: 4px;
                background: #d60606;
                display: block;
                transform: rotate(45deg);
                margin: 11px 0 0 3px;
                border-radius: 5px;
            }

            &:after {
                content: "";
                width: 20px;
                height: 4px;
                background: #d60606;
                display: block;
                margin: -4px 0 0 3px;
                border-radius: 5px;
                transform: rotate(-45deg);
            }

            &:hover {
                cursor: pointer;
                transform: rotate(360deg);
                transition: 0.5s;
                opacity: 1;
            }
        }

        .title {
            text-align: center;
            line-height: 110%;
            @include st-font-style(
                (
                    style: "medium",
                    fs: 40,
                    lg: 120%,
                    fname: "GraphikLCG",
                )
            );

            span {
                color: $st-color-site;
            }
        }

        .item_soglasie {
            max-width: 450px;
        }

        .btn {
            display: flex;
            margin: auto;
        }

        .desc,
        .descr {
            text-align: center;
            max-width: 412px;
            margin: 0 auto 20px;
            line-height: 120%;
        }

        &.img {
            max-width: 1200px !important;
        }

        &.img,
        &.video {
            padding: 0;
            background: transparent;
            box-shadow: none;
            overflow: hidden;
        }

        &.img .close,
        &.video .close {
            right: -15px;
            top: -15px;
        }

        &.video iframe {
            margin: 0 auto;
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    &.popupTypeLead {
        .pop {
            width: 720px;
            padding: 40px;

            .desc {
                max-width: 425px;
            }

            .items_soglasie {
                max-width: 100%;
                margin: 10px 0 0;
            }
        }
    }

    &.active {
        opacity: 1;
        visibility: visible;
        transform: translate(0);

        .pop {
            opacity: 1;
            transform: translate(0);
            visibility: visible;
        }
    }

    &#searchToSite {
        background: rgb(255 255 255);

        .pop {
            background: white;
        }
    }
}

/* [Библиотека] Слайдеры swiper */

.swiper {
    .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        position: relative;
        top: 0;
        bottom: 0;

        .swiper-pagination-bullet {
            width: 8px;
            height: 8px;
            opacity: 1;
            margin: 0;
            background: #e6e8eb;

            &.swiper-pagination-bullet-active {
                background: $st-color-site;
            }
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        &.swiper-button-disabled {
            opacity: 1;

            svg {
                path {
                    fill: #687077;
                }
            }
        }

        position: static;
        width: auto;
        margin: 0;
        height: auto;
        opacity: 1;

        svg {
            path {
                fill: $st-color-site;
            }
        }

        &:after {
            content: none;
        }
    }
}

/* [WP Plugin] CF7 */
.wpcf7 {
    .wpcf7-spinner {
        display: none !important;
    }

    .hidden-fields-container {
        display: none !important;
    }

    .wpcf7-response-output,
    .screen-reader-response {
        display: none !important;
    }

    form.wpcf7-form {
        position: relative;

        .wpcf7-not-valid-tip {
            position: absolute;
            top: -2px;
            transition:
                opacity 0.1s ease-in-out,
                transform 0.1s ease-in-out;
            transform-origin: 0 0;
            @include px-to-rem(
                (
                    fs: 12,
                )
            );
            z-index: 0;
            margin: auto;
            left: 16px;
            right: 0;
            color: $st-color-red;
        }

        .items-soglasie {
            margin-bottom: 15px;

            p {
                @include px-to-rem(
                    (
                        fs: 14,
                    )
                );
            }

            a {
                text-decoration: underline;
            }
        }
    }
}
