@use "sass:math";
@import "variables";

/******************************
* Размеры шрифтов
* Шрифты в виде переменных
* Шрифты в виде миксина
* Конвертер px в rem
******************************/
/* Размеры шрифтов */
$st-base-font-size: 16px;
$st-base-font-line-height: 105%;
/* Шрифты в виде переменных  */
$st-font-name: "Aeroport";

/* Конвертер px в rem */
// @include px-to-rem((pxValue: 20, base: 25));
@mixin px-to-rem($args) {
    $defaults: (
        fs: 16,
        prop: "font-size",
        important: 0,
        base: 16,
    );
    $config: map-merge($defaults, $args);
    $pxValue: map-get($config, fs);
    $property: map-get($config, prop);
    $important: map-get($config, important);
    $base: map-get($config, base);
    @if $important > 0 {
        #{$property}: math.div($pxValue, $base) + rem !important;
    } @else {
        #{$property}: math.div($pxValue, $base) + rem;
    }
}

/* Шрифты в виде миксина  */
// @include st-font-style('regular');
// Выведет: font: 1rem "Aeroport-Regular", "sans-serif";
// @include st-font-style('regular', 'font-family');
// Выведет: font-family: "Aeroport-Regular", "sans-serif";
// @include st-font-style('semibold','font', 40, 140%);
// Выведет:	font: 3rem/140% Aeroport-SemiBold,"sans-serif";
@mixin st-font-style($args) {
    $defaults: (
        weight: 400,
        prop: "font",
        fs: 16,
        lh: 140%,
        othr-fs: "sans-serif",
        fname: "Aeroport",
        base: 16,
    );
    $config: map-merge($defaults, $args);
    $weight: map-get($config, weight);
    $property: map-get($config, prop);
    $font-size: map-get($config, fs);
    $line-height: map-get($config, lh);
    $other-fonts: map-get($config, othr-fs);
    $font-name: map-get($config, fname);
    $base: map-get($config, base);

    @if $property == "font-family" {
        font-family: $font-name, $other-fonts;
    } @else {
        font-family: $font-name, $other-fonts;
        font-weight: $weight;
        font-size: math.div($font-size, $base) + rem;
        line-height: $line-height;
    }
}
