//Цвета элементов
$st-bg-site: #fff;
$st-color-site: #5e91a8;
$st-color-green: #07ca75;
$st-color-grey: #687077;
//Заливка
$st-bg-light-grey: #f5f5f5;

//Текст
$st-text-color: #141414;
$st-color-red: #f72b1c;
$st-color-site-black: #141414;
$st-cursor-hover: pointer;
